/* Colors */
:root {
    --dark-blue: hsla(244, 23%, 12%, 1);
    --white: hsla(20, 33%, 98%, 1);
    --orange: hsla(12, 94%, 65%, 1);
    --teal: hsla(177, 68%, 64%, 1);
    --gold: hsla(33, 100%, 70%, 1);
    --red: hsla(12, 94%, 65%, 1);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background: var(--white) url(assets/bg-main-mobile.png) no-repeat 0 -20%;
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 95%;
    margin: 0 1.5rem;
}

header,
section,
footer {
    width: 100%;
}

.logo {
    margin: 2.5rem 0 1.5rem;
}

.info {
    margin: 4rem 0;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: normal;
    line-height: 3rem;
    color: var(--dark-blue);
    margin-bottom: 1.25rem;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.625rem;
    color: var(--dark-blue);
    margin-bottom: 4.25rem;
}

.plan {
    background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 50% 0;
    border-radius: 0.75rem;
    margin: 10.4rem -1.5rem 0;
}

.device {
    max-width: 13rem;
    margin: auto;
    transform: translateY(-6rem) translateX(38%);
}

.plan-details {
    background: var(--orange);
    border-radius: 0.75rem;
    padding: 3rem 2.3rem;
}

h1.plan-title,
p.plan-desc,
p.pricing {
    color: var(--white);
}

.plan-title {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
}

.plan-desc {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75rem;
    margin-bottom: 2.25rem;
}

.plan-title {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
}

.plan-desc {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75rem;
    margin-bottom: 2.25rem;
}

span.price {
    font-size: 4.06rem;
    font-weight: 700;
    font-style: normal;
    line-height: 3.25rem;
    margin-right: 1rem;
}

p.pricing {
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    margin-bottom: 2.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.get-app {
    width: 100%;
    text-align: center;
}

input[type=button] {
    border: none;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2rem;
}

.get-ios {
    background: var(--dark-blue) url(assets/icon-apple.svg) no-repeat 26% 50%;
    color: var(--white);
    padding: 0.9rem 4.8rem 0.9rem 6.375rem;
    margin-bottom: 1rem;
}

.get-ios:hover {
    background: var(--teal) url(assets/icon-apple.svg) no-repeat 26% 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.get-android {
    background: var(--white) url(assets/icon-android.svg) no-repeat 20% 50%;
    padding: 0.9rem 3.6rem 0.9rem 5.2rem;
}

.get-android:hover {
    background: var(--gold) url(assets/icon-android.svg) no-repeat 20% 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

footer {
    margin: 4rem 0 5rem;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-blue);
}

.footer-logo {
    margin-bottom: 2rem;
}

.contact-us a {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 700;
}

.social {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    max-width: 30%;
}

.social img:hover {
    cursor: pointer;
    filter: invert(62%) sepia(40%) saturate(4134%) hue-rotate(327deg) brightness(103%) contrast(96%);
}

/* Small devices (portrait phones, 480px and up) */

@media (min-width: 480px) and (max-width: 575px) {
    .plan-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html {
        background: url(assets/bg-main-tablet.png) no-repeat 70% -25%;
    }

    body {
        background: url(assets/bg-pattern-1.svg) no-repeat 110% -2%;
        background-size: 40%;
    }

    main {
        margin: 0 2.5rem;
    }

    .title {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0 10rem 4rem 0;
    }

    .description {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .plan {
        width: 100%;
        background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 85% 0%;
        border-radius: 0.75rem;
        height: 38.75rem;
        margin: 8rem 0 11.43rem;

    }

    .plan-details {
        width: 40%;
        background: var(--orange);
        border-radius: 0.75rem;
        transform: translateY(-15rem) translateX(85%);
        padding: 2rem;
    }

    .plan-desc {
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        line-height: 1.75rem;
        margin-bottom: 2.25rem;
    }

    .get-ios {
        background: var(--dark-blue);
        padding: 0.8rem 3rem;
    }

    .get-android {
        background: var(--white);
        padding: 0.8rem 1.75rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .social {
        margin-left: 7rem;
    }

    .facebook,
    .instagram {
        margin-right: 1.25rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    html {
        background: url(assets/bg-main-tablet.png) no-repeat 70% -25%;
    }

    body {
        background: url(assets/bg-pattern-1.svg) no-repeat 110% -2.5%;
    }

    .description {
        margin: 0 13.4rem 15.6rem 0;
    }

    .plan {
        background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 60% -15%;
    }

    .device {
        width: 100%;
        max-width: 16.875rem;
        transform: translateY(-8rem) translateX(25%);
    }

    .plan-details {
        width: 100%;
        max-width: 18.875rem;
        transform: translateY(-25rem) translateX(60%);
        padding: 3rem;
    }

    .get-ios {
        background: var(--dark-blue) url(assets/icon-apple.svg) no-repeat 26% 50%;
        color: var(--white);
        padding: 0.9rem 5rem 0.9rem 6.375rem;
        margin-bottom: 1rem;
    }

    .get-android {
        background: var(--white) url(assets/icon-android.svg) no-repeat 20% 50%;
        padding: 0.9rem 3.7rem 0.9rem 5.2rem;
    }

    footer {
        margin-bottom: 5.3rem;
    }

    .social {
        margin-left: 14.375rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .plan {
        background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 43.2% 0%;
    }

    .device {
        transform: translateY(-12rem) translateX(25%);
    }

    .plan-details {
        transform: translateY(-25rem) translateX(110%);
    }
}

/* Larger devices (desktops, 1280px and up) */
@media screen and (min-width: 1280px) {
    .plan {
        background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 43.2% 0%;
    }

    .device {
        transform: translateY(-12rem) translateX(25%);
    }

    .plan-details {
        transform: translateY(-25rem) translateX(180%);
    }
}



/* Extra large devices (desktops, 1440px and up) */
@media screen and (min-width: 1440px) {
    html {
        background: url(assets/bg-main-desktop.png) no-repeat 60% 150%;
    }

    body {
        background: url(assets/bg-pattern-1.svg) no-repeat 100% -3%;
    }

    main {
        margin: 3.8rem 10.3rem 5.7rem;
    }

    .logo {
        margin-bottom: 7.9rem;
    }

    .info {
        margin: 0;
    }

    .title {
        font-size: 5.5rem;
        line-height: 5.5rem;
        margin: 0;
    }

    .description {
        font-size: 1.25rem;
        line-height: 2.125rem;
        margin: 2.5rem 17.8rem 20rem 0;
    }

    .plan {
        background: var(--dark-blue) url(assets/bg-pattern-2.svg) no-repeat 42.8% -15%;
    }

    .device {
        width: 100%;
        max-width: 19.5rem;
        /* margin: auto; */
        transform: translateY(-12rem) translateX(35%);
    }

    .plan-details {
        width: 100%;
        max-width: 20.8rem;
        transform: translateY(-35rem) translateX(127%);
        padding: 3.6rem 3.375rem;
    }

    .plan-title {
        font-size: 2.5rem;
        line-height: 3.25rem;
        margin-bottom: 1.375rem;
    }

    .plan-desc {
        font-size: 1.25rem;
        line-height: 2.125rem;
        margin-bottom: 2.4rem;
    }

    p.pricing {
        margin-bottom: 2.875rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 5.4rem 0 0 0;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    .footer-logo {
        margin-right: 8.6rem;
    }

    .footer-copyright {
        margin-right: 22.4rem;
    }

    .social {
        margin: 0;
    }
}